[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
twine = "*"

[packages]
mypy-extensions = "*"
ledgerblue = "==0.1.23"
riemann-tx = "==2.1.0"
riemann-ether = "==4.2.1"

[requires]
python_version = "3.7"
